{% extends "layouts/base.html" %}
{% load static i18n %}
{% block sidebar_class %}
	sidebar sidebar-style-2
{% endblock sidebar_class %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/forms.css" %}">
{% endblock %}
{% block content %}
    <div class="content min-vh-50 justify-content-center align-items-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>{% trans 'Your password was changed.' %}</h2>
                </div>
                <div class="card-body">
                    <a href="{% url 'admin:index' %}" class="btn btn-fill btn-primary">
                       Click to Login
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="application/javascript">
        notification.info("<p class='{{ direction.panel }}'>" + "{% trans 'Your password was changed.' %}" + "</p>", 'top', '{{ direction.notify }}');
    </script>
{% endblock %}
