<!DOCTYPE html>
{% load i18n static admin_atlantis %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_direction as direction %}
{% get_admin_setting as admin_setting %}
<html lang="en">
<head>
    {% include 'includes/head.html' %}
    {% block extrastyle %}{% endblock extrastyle %}
    {% block extrahead %}{% endblock extrahead %}
</head>
<body data-background-color="dark">
    <div class="wrapper {% block wrapper_extra_class %}{% endblock wrapper_extra_class %}">
        {% include 'includes/header.html' with active_page=active_page %}
        <div class="{% block sidebar_class %}{% endblock sidebar_class %}" data-background-color="dark2">
            {% include 'includes/sidebar-main.html' %}
        </div>
        <div class="main-panel">
            {% block content %}
            {% endblock content %}
            {% include 'includes/footer.html' %}
        </div>
        {% include 'includes/custom-template.html' %}
    </div>
        {% include 'includes/scripts.html' %}
    {% block extrajs %}{% endblock extrajs %}
</body>

</html>