{% load static %}
<head>
    {% include 'includes/head.html' %}
</head>
<body>
    <div class="wrapper">
        <div class="main-header">
            <div class="main-panel">
                <div class="content">
                    <div class="page-inner">
                        <div class="container">
                            <div class="row pt-5">
                                <div class="col-md-6 mt-5 offset-md-2 pt-5 mt-5">
                                    <div class="card">
                                        <div class="logo-header w-100">                   
                                            <img src="{% static 'assets/img/logo2.svg' %}" alt="navbar brand" class="mx-auto mt-4" >
                                        </div>
                                        <div class="card-header text-center py-4">
                                            <h4>Please enter your email to recover password</h4>
                                        </div>
                                        <div class="card-body px-5 py-3">
                                            <form method="post">
                                                <div class="row">
                                                    <div class="col-md-12 px-md-1">
                                                        <div class="form-group">
                                                            <label for="email2">Email Address</label>
                                                            <input type="email" class="form-control" id="email2" placeholder="Enter Email">
                                                        </div>
                                                        <span class="form_error"></span>
                                                    </div>
                                                    <div class="col-md-12 mt-2">
                                                        <button type="submit" class="btn btn-fill btn-primary">Submit</button>
                                                    </div>                                        
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    {% include 'includes/scripts.html' %}
    {% block extrajs %}{% endblock extrajs %}